*{
    background-image: url(https://images.unsplash.com/photo-1628882836842-d5ffd7c7278e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGlnaHQlMjBibHVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
.jokesDisplay{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkblue;

}
button{
    border: 5px solid darkblue;
    border-radius: 10px;
    background-color: blue;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}